.admin-link { color:#080 !important; }
.admin-link:hover { color:#0A0 !important; }

.admin-link.delete { color:#800 !important; }
.admin-link.delete:hover { color:#A00 !important; }

.admin-link.edit { color:#008 !important; }
.admin-link.edit:hover { color:#00A !important; }
h1 {font-size:20px !important; border-bottom: 1px dashed #AAA; margin-bottom: 20px !important;}
table.center {margin:0 auto;}