<div class="cl">&nbsp;</div>
<div id="content" >
<div class="box">
    
    <!-- Box Head -->
    <div class="box-head">
            <h2 class="left">Категории</h2>

            <div class="right">
                    <label>Поиск по названии</label>
                    <input type="text" ng-model="name" class="field small-field" />

            </div>
    </div>
    <!-- End Box Head -->	

    <!-- Table -->


    <div class="box"><div class="table">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
                
                <th>ID</th>
                <th>Название</th>
                
                <th width="110" class="ac">Редактирования</th>
        </tr>
        <tr ng-repeat="p in categories| filter:name" ng-class="{'odd':$odd}">
                <td>{{p.id}}</td>
                
                <td><h3>{{p.name}}</h3></td>
                
                <td><a href="#" ng-click="delete(p.id)" class="ico del">Удалить</a><a href="#/categories/edit/{{p.id}}" class="ico edit">Редактировать</a></td>
        </tr>
</table></div></div></div></div>
<div id="sidebar">
				
				<!-- Box -->
				<div class="box">
					
					<!-- Box Head -->
					<div class="box-head">
						<h2>Менеджер</h2>
					</div>
					<!-- End Box Head-->
					
					<div class="box-content">
						<a href="#/categories/new" class="add-button"><span>Добавить Категорию</span></a>
						<div class="cl">&nbsp;</div>
						
						
						<!-- End Sort -->
						
					</div>
				</div>
				<!-- End Box -->
			</div>
<div class="cl">&nbsp;</div>	

