<div class="table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th>ID</th>
            <td><input readonly type="text" ng-model="cat.id"/></td>
        </tr>
        <tr>
            <th>Название</th>
            <td><input type="text" ng-model="cat.name"/></td>
        
         <tr>
            <th></th>
            <td><button ng-click="CreateCategory(cat)">Добавить</button><a href="#">Отмена</a></td>
        </tr>
</table>
</div>